/* Global rules */
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  text-align: center;
  transition: background ease-out 0.6s;
  background-color: var(--bg-color);
  color: var(--color);
}
a {
  display: inline-block;
  text-decoration: none;
  color: var(--bg-color);
}
a:hover {
  color: var(--color);
  background-color: var(--bg-color);
}
img {
  max-width: 100%;
}

/* Container */
.container {
  padding-inline: 1.25rem;
  margin-inline: auto;
}
/*? Small devices (landscape phones, 576px and up)  */
@media (min-width: 375px) {
  .container {
    width: 360px;
  }
}
/*? Small devices (landscape phones, 576px and up)  */
@media (min-width: 576px) {
  .container {
    width: 560px;
  }
}
/*? Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/*? Large devices (desktops, 992px and up) --*/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/*? X-Large devices (large desktops, 1200px and up) --*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*? XX-Large devices (larger desktops, 1400px and up) --*/
@media (min-width: 1400px) {
  .container {
    width: 1370px;
  }
}

/* light theme and dark theme */
.lightTheme {
  --bg-color: #f1f1f1;
  --color: #3d3d3d;
  transition: ease-out all 0.4s;
}
.darkTheme {
  --color: #f1f1f1;
  --bg-color: #3d3d3d;
  transition: ease-out all 0.4s;
}
/* toggle button */
.lightUi {
  background: skyblue;
  box-shadow: inset 0px 0px 3px 2px rgba(1, 169, 236, 0.6),
    0px 0px 1px 1px rgba(1, 169, 236, 0.6);
}
.darkUi {
  background: #002737;
  box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.3),
    0px 0px 1px 1px rgba(0, 0, 0, 0.2);
}
.lightUiDot {
  background: #f93904;
  box-shadow: inset 0 0 1px 20px #fbf70340, inset 0 0 4px 4px #fbcd0377,
    inset 0 0 0 2px #fbf7034e;
  border: 1px solid #fbcd03ef;
  right: var(--dot-space);
}
.darkUiDot {
  background: #c4c4c4;
  box-shadow: inset 0 0 1px 20px #c5c5c534, inset 0 0 4px 4px #ffffff77,
    inset 0 0 0 2px #ffffff37;
  border: 1px solid #ffffffef;
  right: calc(100% - (var(--dot-size)));
}

/* start page style */
/* ---------- header ---------- */
header {
  position: sticky;
  top: 0;
  width: 100%;
  background: var(--color);
  color: var(--bg-color);
  box-shadow: 0px 0px 6px 2px #262626;
  z-index: 1000;
  transition: ease all 0.3s;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  header .container {
    flex-wrap: wrap;
    justify-content: center;
  }
}

header .logo {
  height: 48px;
  display: flex;
  flex: 0 1;
  align-items: center;
  animation: logo 3s 0s 1;
  transition: 1s;
  font-family: Impact, Haettenschweiler, sans-serif;
  font-weight: 300;
  font-size: 1.725rem;
}

@keyframes logo {
  0% {
    transform: rotateX(0deg) translateX(-24px);
  }
  100% {
    transform: rotateX(360deg);
  }
}

nav {
  display: flex;
  align-items: center;
}
#navbar__list {
  height: 48px;
  display: flex;
  justify-content: flex-end;
  gap: 0.25rem;
}
#navbar__list ul {
  height: 48px;
  margin: 10px 0 0;
}

/* title attributes style */
#navbar__list li {
  height: 100%;
  list-style: none;
  display: inline-block;
}
#navbar__list li a {
  height: 100%;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 1.2rem;
  padding-inline: 2rem;
}
#navbar__list :is(:hover, :foucs),
#navbar__list .active__link {
  background: var(--bg-color);
  color: var(--color);
  transition: ease 0.4s all;
}

/* ---------- footer ---------- */
footer {
  background: var(--color);
  padding: 3rem;
  text-align: center;
}

footer p {
  color: var(--bg-color);
}

/* ---------- landing ---------- */
.landing {
  height: calc(100vh - 48px);
  position: relative;
  display: inline-flex;
  width: 100%;
  overflow: hidden;
}
.landing .container {
  display: grid;
  justify-content: end;
  align-content: center;
  gap: 3rem;
}
.landing__background {
  z-index: -1;
  font-size: 10px;
}
.landing :is(h1, h2) {
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.425);
  font-size: 2.725rem;
}
.landing h2 {
  font-size: 1.725rem;
}

/* three balls and animation */
.landing__background div:nth-child(2) {
  width: 30vh;
  height: 30vh;
  background-color: #03aab0;
  position: absolute;
  left: 20%;
  top: 10%;
  border-radius: 100vh;
  animation: rounddown 5s linear 0s infinite;
}
.landing__background div:nth-child(1) {
  width: 28vh;
  height: 28vh;
  background-color: orange;
  position: absolute;
  left: 25%;
  bottom: 30%;
  border-radius: 100vh;
  animation: roundup 4s linear 0s infinite;
}
.landing__background div:nth-child(3) {
  width: 30vh;
  height: 30vh;
  background-color: #d487eb;
  position: absolute;
  left: 5%;
  bottom: 23%;
  border-radius: 100vh;
  animation: rounddown 4s linear 0s infinite;
}
.landing__background div:nth-child(4) {
  background-color: linear-gradient(
    135deg,
    hsla(0, 0%, 100%, 0.2) 20%,
    hsla(0, 0%, 100%, 0.1) 40%
  );
  border: 2px solid rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(20px);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
@keyframes rounddown {
  0% {
    transform: rotate(0deg) translate(-10vw);
  }
  100% {
    transform: rotate(360deg) translate(-10vw);
  }
}
@keyframes roundup {
  0% {
    transform: rotate(360deg) translate(-10vw);
  }
  100% {
    transform: rotate(0deg) translate(-10vw);
  }
}

/* ----------> Go to UP button <---------- */
main .btn__up {
  display: none;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100vh;
  background-color: var(--color);
  color: var(--bg-color);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.425);
  transition: ease 0.3s all;
  z-index: 500;
}
main .btn__up:hover,
main .btn__up:focus {
  box-shadow: inset 0 0 3px 2px rgba(0, 0, 0, 0.425);
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.425);
  transition: 0.3s;
}

/* ----------> section <---------- */
section {
  height: 90vh;
  padding-top: 48px;
  overflow: hidden;
}
@media (max-width: 768px) {
  section {
    padding-top: 96px;
  }
}
section .container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-inline: auto;
  gap: 3rem;
}
section .section_content {
  flex: 1;
}
section .section_main_title {
  --section-text: #03aab0;
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
}

section:nth-child(odd) .section_main_title {
  order: 2;
  align-items: center;
}
section:nth-child(odd) .section_main_title h2 {
  align-self: flex-end;
  right: 8%;
}
section:nth-child(odd) .section_main_title::before {
  background: linear-gradient(-90deg, var(--color) 48%, #03aab0 52%);
}
section:nth-child(even).section_main_title {
  order: 1;
  align-items: center;
}
section:nth-child(even) .section_main_title h2 {
  align-self: flex-start;
  left: 8%;
}
section:nth-child(even) .section_main_title {
  transform: translateX(-80%);
}
section:nth-child(odd) .section_main_title {
  transform: translateX(80%);
}
section:nth-child(even) .section_content {
  transform: translateX(80%);
}
section:nth-child(odd) .section_content {
  transform: translateX(-80%);
}
.section_main_title,
.section_content {
  transition: transform 0.8s ease-in;
}
.appear{
  transform: translateX(0) !important;
}
section .section_main_title h2 {
  font-family: Impact, Haettenschweiler, sans-serif;
  font-size: 5rem;
  font-weight: 900;
  color: var(--color);
  margin: 0;
  position: absolute;
  display: inline-flex;
  top: 42%;
}
section .section_main_title span {
  font-family: Impact, Haettenschweiler, sans-serif;
  color: var(--section-text);
  font-size: 16rem;
  line-height: 1;
  margin: 0;
  opacity: 0.2;
  position: relative;
  z-index: -1;
}
section .section_main_title p {
  position: relative;
  bottom: 64px;
  padding: 0.5rem;
  color: var(--color);
  font-size: 1.1rem;
}
@media (max-width: 992px) {
  section .section_main_title h2 {
    top: 46%;
  }
  section .section_main_title p {
    bottom: 42px;
  }
}

section .section_main_title::before {
  content: "";
  position: absolute;
  bottom: 87px;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, var(--color) 48%, #03aab0 52%);
  border-radius: 100vh;
}
.section_online {
  position: relative;
  overflow: hidden;
}

.section_online::before,
.section_online::after {
  content: "";
  position: absolute;
  border: 32px solid;
  border-color: var(--color) transparent;
  border-radius: 100vh;
  width: 300px;
  height: 300px;
  transform: rotate(1deg);
  opacity: 0.3;
  z-index: -1;
}
section:nth-child(even).section_online::before {
  top: 17%;
  left: 14%;
  animation: Ofan 3s linear 0s infinite;
}
section:nth-child(odd).section_online::after {
  top: 17%;
  right: 14%;
  animation: Ofan 3s linear 0s infinite;
}
section:nth-child(odd).section_online::before {
  bottom: 0;
  left: 5%;
  animation: fanO 2s linear 0s infinite;
}
section:nth-child(even).section_online::after {
  bottom: 0;
  right: 5%;
  animation: fan 2s linear 0s infinite;
}
@media (min-width: 768px) {
  section:nth-child(even).section_online::before {
    left: 5%;
  }
  section:nth-child(odd).section_online::after {
    right: 8%;
  }
}
@media (min-width: 1200px) {
  section:nth-child(even).section_online::before {
    top: 11%;
    left: 10%;
    animation: Ofan 3s linear 0s infinite;
  }
  section:nth-child(odd).section_online::after {
    top: 12%;
    right: 10%;
    animation: Ofan 3s linear 0s infinite;
  }
}
@media (min-width: 1400px) {
  section:nth-child(even).section_online::before {
    left: 13%;
  }
  section:nth-child(odd).section_online::after {
    right: 13%;
  }
}
@keyframes fan {
  0% {
    transform: rotate(260deg);
  }
  60% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(260deg);
  }
}
@keyframes fanO {
  0% {
    transform: rotate(-260deg);
  }
  60% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(-260deg);
  }
}
@keyframes Ofan {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@media (max-width: 576px) {
  section .container {
    flex-direction: column;
    gap: 0;
  }
  section:nth-child(odd) .section_main_title {
    order: 0;
  }
  #navbar__list li a {
    padding-inline: 0.5rem;
    width: max-content;
  }
  nav {
    flex-direction: column;
  }
  nav .toggle_btn {
    align-self: flex-end !important;
    margin-right: 1rem;
  }
  .section_online::before {
    left: 12%;
  }
}
